.historyComponent li:nth-child(1) {
  color: #000;
}
.historyComponent li:nth-child(2) {
  color: #444;
}
.historyComponent li:nth-child(3) {
  color: #666;
}
.historyComponent li:nth-child(4) {
  color: #777;
}
.historyComponent li:nth-child(5) {
  color: #888;
}
.historyComponent li:nth-child(6) {
  color: #aaa;
}
.historyComponent li:nth-child(7) {
  color: #bbb;
}
.historyComponent li:nth-child(8) {
  color: #ccc;
}
.historyComponent li:nth-child(9) {
  color: #ccc;
}
.historyComponent li:nth-child(10) {
  color: #ccc;
}

.historyComponent .historyRoll {
  list-style: none;
}

.historyComponent .diceRoll,
.historyComponent .diceType {
  display: inline-block;
  margin: 10px;
}

.historyComponent .diceRoll {
  font-weight: 600;
}

.historyComponent .diceType {
  font-weight: 300;
  font-style: italic;
}

.usernameForm .usernameDisplay {
  margin: 15px;
}
